<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:ts="http://typo3.org/ns/TYPO3/TypoScript/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<body>
<f:section name="Menu">
    <nav{attributes -> f:format.raw()}>
        <ul>
            <f:render section="itemsList" arguments="{items: items}" />
        </ul>
    </nav>
</f:section>

<f:section name="itemsList">
    <f:if condition="{items -> f:count()}">
        <f:then>
            <f:for each="{items}" as="item">
                <li{ts:render(path:'{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
                    <neos:link.node node="{item.node}"
                                    title="{f:if(condition: item.node.properties.titleOverride, then: item.node.properties.titleOverride, else: item.node.label)}">
                        {item.label}
                    </neos:link.node>
                    <f:if condition="{item.subItems}">
                        <ul>
                            <f:render section="itemsList" arguments="{items: item.subItems}" />
                        </ul>
                    </f:if>
                </li>
            </f:for>
        </f:then>
        <f:else>
            <f:security.ifAccess privilegeTarget="TYPO3.Neos:Backend.GeneralAccess">
                <f:if condition="{node.context.workspace.name} != 'live'">
                    <li>Empty menu</li>
                </f:if>
            </f:security.ifAccess>
        </f:else>
    </f:if>
</f:section>
</body>
