<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<body>
<f:section name="SiteLogo">
    <figure{attributes -> f:format.raw()}>
        <neos:link.node node="{targetNode}"
                        title="{f:translate(id: 'typoScriptObjects.siteLogo.title', value: 'Go back to homepage', arguments: {0: targetNode.label}, package: 'Shel.NeosBase')}">
            {logo -> f:format.raw()}
        </neos:link.node>
    </figure>
</f:section>
</body>
